@font-face {
  font-family: lightFont;
  src: url(fonts/SourceSansPro-Light.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: semiBoldFont;
  src: url(fonts/SourceSansPro-SemiBold.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: SSregularFont;
  src: url(fonts/SourceSansPro-Regular.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(fonts/Montserrat-Bold.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(fonts/Montserrat-Medium.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(fonts/Montserrat-Regular.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* navigation */
.navigation {
  margin-right: 45px;
}

.navbar {
  padding-top: 48px;
  padding-bottom: 40px;
}

.navbar .logoleft {
  display: flex;
  align-items: center;
}

.navbar .logo {
  margin-left: 50px;
}

.navbar .tel {
  margin-bottom: 0;
  margin-left: 22px;
  font-family: boldFont, sans-serif;
  font-size: 12px;
  color: #535353;
  text-align-last: left;
}

.navbar a {
  font-family: mediumFont, serif;
  font-size: 14px;
}

.navbar a:hover {
  opacity: 0.7;
}

#header .nav-link {
  padding-right: 40px;
  color: #313131;
}

.navbar-nav .icon-link {
  padding: 0;
  font-size: 25px;
}

.navbar-nav .nav-link:focus,
.navbar-nav .icon-link:focus {
  outline: none;
}

.navbar-nav .icon-item img {
  margin-bottom: 5px;
}

.navbar-nav .icon-item img {
  width: 25px;
  height: auto;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-family: semiBoldFont, serif;
  position: absolute;
  bottom: 4px;
  right: -12px;
}

.fa-align-right {
  border: 2px solid #313131;
  border-radius: 50%;
  padding: 4px 6px;
}

/* jumbotron */
.jumbotron {
  position: relative;
  height: 208px;
}

.jumbotron h1 {
  position: relative;
  z-index: 2;
  font-family: boldFont, sans-serif;
  font-size: 44px;
  color: #494949;
  text-align: center;
}

.jumbotron p {
  position: relative;
  z-index: 2;
  font-family: lightFont, sans-serif;
  font-size: 14px;
  color: #494949;
  text-align: center;
}

.jumbotron .fa-chevron-right {
  font-size: 12px;
}

/* content */
#content {
  margin-top: 92px;
  margin-bottom: 108px;
}

/* who-we-are */
.who {
  margin-bottom: 120px;
}

.who h1 {
  font-family: boldFont, serif;
  font-size: 30px;
  color: #494949;
}

.who p {
  font-family: lightFont, serif;
  font-size: 18px;
  color: #494949;
}

.who .paragraph {
  margin-bottom: 0;
}

.who .paragraph2 {
  margin-bottom: 70px;
}

.who h6 {
  margin-bottom: 20px;
  font-family: semiBoldFont, serif;
  font-size: 16px;
  color: #494949;
}

.who i {
  padding-right: 5px;
  font-size: 11px;
  color: #494949;
}

/* our-team */
.ourteam {
  margin-bottom: 130px;
}

.ourteam h1 {
  margin-bottom: 45px;
  font-family: boldFont, serif;
  font-size: 30px;
  color: #494949;
}

.ourteam i {
  padding-top: 10px;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  background-color: #353535;
  border-radius: 50px;
  color: #ffffff;
  font-size: 18px;
}

.ourteam .name {
  padding-left: 10px;
  margin-top: 28px;
  font-family: boldFont, serif;
  font-size: 15px;
  color: #494949;
}

.ourteam .title {
  padding-left: 10px;
  font-family: semiBoldFont, serif;
  font-size: 14px;
  color: #a0a0a0;
  letter-spacing: 3px;
}

.ourteam .person {
  border-left: 7px solid #eeeeee;
}

.ourteam .profile {
  position: relative;
  display: flex;
  justify-content: center;
}

.ourteam .profile img {
  width: 100%;
}

.ourteam .profile:hover {
  opacity: 0.6;
}

.ourteam .profile-details {
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.4s linear 0s;
}

.ourteam .profile:hover .profile-details {
  top: 40%;
  opacity: 1;
}

.ourteam .fadeIn-top {
  top: 10%;
}

/* ourworkspace */
.ourworkspace h1 {
  margin-bottom: 45px;
  font-family: boldFont, serif;
  font-size: 30px;
  color: #494949;
}

.ourworkspace .sliders .slick-prev {
  z-index: 100;
  left: 40px;
  height: 15px;
  width: 15px;
  border: solid #878787;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.ourworkspace .sliders .slick-next {
  z-index: 100;
  right: 40px;
  height: 15px;
  width: 15px;
  border: solid #878787;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.ourworkspace .sliders .slick-prev:before,
.slick-next:before {
  display: none;
}

.pager__item {
  margin-top: 20px;
  border-bottom: 3px solid #ececec;
}

.slick-dots li {
  width: 50px;
}

.slick-active .pager__item {
  border-bottom: 3px solid #b6b6b6;
}

/* footer-top */
#footer-top {
  margin-top: 108px;
  margin-bottom: 30px;
  padding: 72px 0;
  background-color: #f6f6f6;
}

#footer-top .second-col {
  padding-left: 60px;
}

#footer-top .third-col {
  padding-left: 20px;
}

#footer-top .right-col {
  text-align: right;
}

#footer-top img {
  height: 30px;
  width: 110px;
  margin-bottom: 28px;
}

#footer-top h6 {
  font-family: semiBoldFont, serif;
  font-size: 16px;
  color: #575757;
}

#footer-top .title {
  margin-bottom: 40px;
}

#footer-top .address {
  display: flex;
}

#footer-top .text {
  margin-bottom: 18px;
  margin-left: 20px;
}

#footer-top .fa-map-marker-alt {
  margin-top: 5px;
}

#footer-top ul {
  padding: 0;
}

#footer-top li {
  margin-bottom: 5px;
  list-style-type: none;
}

#footer-top a,
p,
.text {
  font-family: SSregularFont, serif;
  font-size: 14px;
  color: #868686;
}

#footer-top .subscribe-email {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 34px;
  padding-left: 18px;
  border: 1px solid #909090;
  border-radius: 40px;
}

#footer-top input {
  margin: 3px 0px;
  border: none;
  outline: none;
  font-size: 10px;
  background-color: #f6f6f6;
}

#footer-top button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #8c8c8c;
}

#footer-top i {
  padding-right: 5px;
  font-size: 8px;
  color: #868686;
}

/* footer-bottom */
#footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

#footer-bottom i {
  margin-left: 5px;
  font-size: 14px;
  color: #7a7a7a;
}

#footer-bottom p {
  font-family: lightFont, serif;
  font-size: 14px;
  color: #868686;
}

#footer-bottom span {
  font-family: semiBoldFont, serif;
  font-size: 14px;
  color: #000000;
}

.dropdown-menu {
  margin-top: 0;
  padding: 0;
  border: none;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

/* dropdown-menu-big */
.dropdown-menu-big .nav-link {
  -webkit-appearance: none;
}

.dropdown-menu-big .dropdown-menu {
  width: 100%;
}

.dropdown-menu-big .menu-big-container {
  padding: 72px 0px 72px 72px;
}

.dropdown-menu-big .title {
  margin-bottom: 28px;
  color: #535353;
  font-family: boldFont, serif;
}

.dropdown-menu-big .title:after {
  content: "";
  position: absolute;
  left: 12px;
  top: 24px;
  height: 1px;
  width: 24%;
  border-bottom: 2px solid #535353;
}

.dropdown-menu-big ul {
  padding-left: 0;
}

.dropdown-menu-big li {
  margin-bottom: 8px;
  list-style: none;
}

.dropdown-menu-big li a {
  font-family: lightFont, serif;
  color: #757575;
}

.dropdown-menu-big .bottom {
  margin-top: 60px;
}

.dropdown-menu-big .bottom-left {
  background-image: url(../images/hover-product-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  cursor: pointer;
}

.dropdown-menu-big .bottom-left .name {
  color: #000000;
  font-family: boldFont, serif;
  text-align: center;
  letter-spacing: 20px;
  font-size: 20px;
}

.dropdown-menu-big .bottom-left .text {
  color: #000000;
  font-family: boldFont, serif;
  text-align: center;
  font-size: 16px;
}

.dropdown-menu-big .bottom-right {
  background-image: url(../images/hover-product-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.dropdown-menu-big .bottom-right .name {
  text-align: right;
  font-family: boldFont, serif;
  color: #535353;
  letter-spacing: 4px;
}

.dropdown-menu-big .bottom-right p {
  text-align: right;
  color: #979797;
  font-family: mediumFont, serif;
  font-size: 14px;
}

/* search */
.dropdown-search .dropdown-menu {
  width: 100%;
}

.dropdown-search .search-container {
  padding-top: 20%;
  padding-bottom: 20%;
  background-color: #f6f6f6;
}

.dropdown-search .search-block {
  justify-content: space-around;
  color: #9d9d9d;
}

.dropdown-menu input {
  font-family: lightFont, serif;
  border: none;
  background-color: transparent;
}

.dropdown-menu input:focus {
  outline: none;
}

.dropdown-search .search-icon i {
  margin-right: 8px;
}

.dropdown-search .delete-btn {
  margin-top: 120px;
  color: #9d9d9d;
  text-align: center;
}

/* shopping-cart */
.dropdown-shopping-cart .shopping-cart-container {
  padding: 60px 40px;
}

.dropdown-shopping-cart .product {
  margin-bottom: 16px;
}

.dropdown-shopping-cart .product img {
  width: 100%;
}

.dropdown-shopping-cart .name,
.dropdown-shopping-cart .qty,
.dropdown-shopping-cart .total .title {
  font-family: semiBoldFont, serif;
  color: #757575;
  font-size: 14px;
}

.dropdown-shopping-cart .price,
.dropdown-shopping-cart .total .total-price {
  font-family: semiBoldFont, serif;
  color: #010101;
  font-size: 14px;
}

.dropdown-shopping-cart .price i,
.dropdown-shopping-cart .total .total-price i {
  font-size: 12px;
}

.dropdown-shopping-cart .delete-btn button {
  color: #f05c5c;
  background-color: #fff;
  border: none;
}

.dropdown-shopping-cart .delete-btn button:focus {
  outline: none;
}

.dropdown-shopping-cart .total {
  padding: 24px 0;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.dropdown-shopping-cart .bottom-btn {
  margin-top: 20px;
  justify-content: space-between;
}

.dropdown-shopping-cart .bottom-btn .btn-light {
  border: 1px solid #000000;
  border-radius: 40px;
}

.dropdown-shopping-cart .bottom-btn .btn-light a {
  color: #000000;
  font-family: mediumFont, serif;
  font-size: 14px;
}

.dropdown-shopping-cart .bottom-btn .btn-dark {
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #000000;
}

.dropdown-shopping-cart .bottom-btn .btn-dark a {
  color: #ffffff;
  font-family: boldFont, serif;
  font-size: 14px;
}

@media (min-width: 992px) {
  #header .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-nav .icon-item {
    margin-left: 20px;
  }

  .dropdown-menu-big .dropdown-menu {
    display: none;
  }

  .dropdown-menu-big:hover .dropdown-menu {
    display: block;
    top: 86px;
  }

  .dropdown-shopping-cart .dropdown-menu {
    display: none;
  }

  .dropdown-shopping-cart:hover .dropdown-menu {
    display: block;
    top: 82px;
  }
}

@media (max-width: 991px) {
  #header .navigation {
    text-align: center;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navbar .logo {
    margin-left: 0;
  }

  #header .navigation {
    text-align: right;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navigation .navbar-nav a {
    padding-right: 0;
    font-size: 1.5rem;
  }

  #header .navbar-nav .icon-item img {
    margin-top: 16px;
    width: 36px;
  }

  .fa-angle-down {
    margin-top: 8px;
    margin-left: 8px;
  }

  .ourteam img {
    margin-top: 30px;
  }

  .ourteam .name {
    margin-top: 16px;
  }

  #footer-top .md-mb {
    margin-bottom: 30px;
  }

  #footer-top .second-col {
    padding-left: 20px;
  }

  #footer-top .right-col {
    text-align: left;
  }

  #footer-top .title {
    margin-bottom: 5px;
  }

  #footer-top li {
    margin-bottom: 15px;
  }

  #footer-top input {
    padding: 10px 0;
  }

  .who .social-media i,
  #footer-top .social-media i {
    padding-right: 30px;
    font-size: 25px;
  }

  #header .dropdown-shopping-cart .product img {
    margin-top: 0;
    width: 100%;
  }

  .dropdown-menu-big .row {
    flex-direction: column;
  }

  .dropdown-menu-big .title {
    font-size: 22px;
  }

  .dropdown-menu-big .title:after {
    top: 32px;
  }

  .dropdown-menu-big li {
    margin-bottom: 16px;
  }

  .dropdown-menu-big li:last-child {
    margin-bottom: 40px;
  }

  .dropdown-menu-big ul {
    display: none;
  }

  .dropdown-menu-big .title:hover ~ ul {
    display: block;
  }

  .dropdown-search .search-container {
    background-color: #ffffff;
  }

  .dropdown-search .search-block {
    font-size: 32px;
  }

  .dropdown-shopping-cart .name,
  .dropdown-shopping-cart .qty,
  .dropdown-shopping-cart .total .title,
  .dropdown-shopping-cart .price,
  .dropdown-shopping-cart .total .total-price {
    font-size: 28px;
  }

  .dropdown-shopping-cart .price i,
  .dropdown-shopping-cart .total .total-price i {
    font-size: 22px;
  }

  .dropdown-shopping-cart .delete-btn i {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .dropdown-shopping-cart .name,
  .dropdown-shopping-cart .qty,
  .dropdown-shopping-cart .total .title,
  .dropdown-shopping-cart .price,
  .dropdown-shopping-cart .total .total-price {
    font-size: 20px;
  }

  .dropdown-shopping-cart .price i,
  .dropdown-shopping-cart .total .total-price i {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .dropdown-shopping-cart .shopping-cart-container {
    padding: 60px 15px;
  }

  .dropdown-menu-big .menu-big-container {
    padding: 36px 0px 36px 32px;
  }
}

@media (max-width: 480px) {
  .dropdown-search .search-block {
    font-size: 24px;
  }

  #header .dropdown-shopping-cart .bottom-btn a {
    font-size: 16px;
  }
}
