@font-face {
  font-family: lightFont;
  src: url(fonts/SourceSansPro-Light.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: semiBoldFont;
  src: url(fonts/SourceSansPro-SemiBold.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(fonts/Montserrat-Bold.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(fonts/Montserrat-Medium.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(fonts/Montserrat-Regular.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* navigation */
.navigation {
  margin-right: 45px;
}

.navbar {
  padding-top: 48px;
  padding-bottom: 40px;
}

.navbar .logoleft {
  display: flex;
  align-items: center;
}

.navbar .logo {
  margin-left: 50px;
}

.navbar .tel {
  margin-bottom: 0;
  margin-left: 22px;
  font-family: boldFont, sans-serif;
  font-size: 12px;
  color: #535353;
  text-align-last: left;
}

#header .navbar a {
  font-family: mediumFont, serif;
  font-size: 14px;
  color: #313131;
}

#header .navbar a:hover {
  opacity: 0.7;
}

#header .nav-link {
  padding-right: 40px;
}

.navbar-nav .icon-link {
  padding: 0;
  font-size: 25px;
}

.navbar-nav .icon-item {
  margin-left: 20px;
}

.navbar-nav .icon-item img {
  margin-bottom: 5px;
}

.navbar-nav .icon-item img {
  width: 25px;
  height: auto;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-family: semiBoldFont, serif;
  position: absolute;
  bottom: -4px;
  right: -12px;
}

.fa-align-right {
  border: 2px solid #313131;
  border-radius: 50%;
  padding: 4px 6px;
}

/* jumbotron */
.jumbotron {
  position: relative;
  height: 208px;
}

.jumbotron h1 {
  font-family: boldFont, sans-serif;
  font-size: 44px;
  color: #494949;
  text-align: center;
}

.jumbotron p {
  font-family: lightFont, sans-serif;
  font-size: 14px;
  color: #494949;
  text-align: center;
}

.jumbotron .fa-chevron-right {
  font-size: 12px;
}

.jumbotron .search-block {
  position: absolute;
  color: #494949;
  bottom: 3%;
  left: 10%;
  opacity: 0.4;
}

/* #content .article-list */
#content .article {
  margin-top: 48px;
  margin-bottom: 28px;
}

#content .article .date {
  padding-left: 24px;
  padding-top: 4px;
  width: 80px;
  height: 80px;
  background-color: #919191;
  color: #ffffff;
}

#content .article .date span {
  font-size: 28px;
}

#content .article-text h2 {
  margin-top: 40px;
  font-family: boldFont, serif;
  font-size: 30px;
  color: #494949;
}

#content .icon-item {
  margin-right: 24px;
  margin-bottom: 28px;
  font-size: 14px;
  color: #919191;
  font-style: italic;
}

#content .article-text .words {
  margin-bottom: 24px;
  font-family: lightFont, serif;
  font-size: 14px;
  color: #494949;
}

#content .article-text a {
  margin-top: 40px;
  font-family: semiBoldFont, serif;
  font-size: 14px;
  color: #494949;
}

.two-button {
  display: flex;
  justify-content: space-between;
}

.two-button button {
  padding: 2px 12px;
  color: #2B2B2B;
  font-size: 18px;
  font-family: semiBoldFont, serif;
  background-color: #fff;
}

/* #content .sidebar */
#content .sidebar {
  margin-top: 48px;
  text-align: right;
}

#content .sidebar .top-block,
#content .sidebar .middle-block {
  margin-bottom: 76px;
}

#content .sidebar h4 {
  color: #494949;
  font-size: 18px;
  font-family: mediumFont, serif;
}

.h4-top-line {
  margin-left: 84%;
  margin-bottom: 28px;
  border-bottom: 4px solid #494949;
  width: 16%;
}

.h4-middle-line {
  margin-left: 76%;
  margin-bottom: 28px;
  border-bottom: 4px solid #494949;
  width: 24%;
}

.h4-bottom-line {
  margin-left: 90%;
  margin-bottom: 28px;
  border-bottom: 4px solid #494949;
  width: 10%;
}

#content .sidebar .top-block .subcategory {
  margin-bottom: 4px;
  color: #494949;
  font-size: 18px;
  font-family: lightFont, serif;
}

#content .sidebar .middle-block .post-list {
  margin-bottom: 8px;
}

#content .sidebar .middle-block .post-img {
  padding-right: 0;
}

#content .sidebar .middle-block .post-title {
  color: #494949;
  font-size: 14px;
  font-family: lightFont, serif;
}

#content .sidebar .middle-block .post-date {
  color: #6B6B6B;
  font-size: 14px;
  font-family: lightFont, serif;
  font-style: italic;
}

#content .sidebar .bottom-block .tags {
  color: #494949;
  font-size: 16px;
  font-family: lightFont, serif;
}

/* footer-top */
#footer-top {
  margin-top: 108px;
  margin-bottom: 75px;
}

#footer-top h6 {
  font-family: boldFont, serif;
  font-size: 13px;
  color: #000000;
}

#footer-top ul {
  padding: 0;
}

#footer-top li {
  list-style-type: none;
}

#footer-top a,
p {
  font-family: regularFont, serif;
  font-size: 12px;
  color: #8F8F8F;
}

#footer-top .col-md-3 {
  text-align: right;
}

#footer-top img {
  height: 30px;
  width: 102px;
  margin-bottom: 52px;
}

#footer-bottom .credit-card {
  display: flex;
  justify-content: center;
}

#footer-bottom i {
  margin-left: 5px;
  font-size: 14px;
  color: #7A7A7A;
}

#footer-bottom p {
  margin-top: 15px;
  font-family: lightFont, serif;
  font-size: 11px;
  color: #8F8F8F;
  text-align: center;
}

@media (min-width: 992px) {
  #header .navigation {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  #header .navbar .logo {
    margin-left: 0;
  }

  #header .navigation {
    text-align: right;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navigation .navbar-nav a {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }

  #header .navbar-nav .icon-item img {
    margin-top: 16px;
    width: 36px;
  }

  .fa-angle-down {
    margin-top: 8px;
    margin-left: 8px;
  }

  #content .sidebar {
    text-align: left;
  }

  #content .sidebar .top-block .subcategory {
    margin-bottom: 12px;
  }

  .h4-top-line,
  .h4-middle-line,
  .h4-bottom-line {
    margin-left: 0;
  }

  #content .sidebar .middle-block .post-title {
    font-size: 18px;
  }

  #content .sidebar .middle-block .post-date {
    font-size: 16px;
  }

  #content .sidebar .bottom-block .tags {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .jumbotron h1 {
    font-size: 32px;
  }

  #content .article .text {
    flex-direction: column;
  }

  #content .article-text h2 {
    margin-top: 16px;
    font-size: 24px;
  }

  #content .article-text .words {
    font-size: 16px;
  }

  #footer-top .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  #footer-top h6 {
    margin-bottom: 12px;
    font-size: 16px;
  }

  #footer-top li {
    margin-bottom: 20px;
  }

  #footer-top a,
  #footer-top p {
    font-size: 16px;
  }

  #footer-top .col-md-3 {
    text-align: left;
  }

  #footer-top .col-md-3 img {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {

  #content .article .tri-icon {
    flex-direction: column;
  }

  #content .article .date {
    padding-left: 12px;
    padding-top: 0;
    width: 50px;
    height: 50px;
    font-size: 12px;
  }

  #content .article .date span {
    font-size: 20px;
  }

  #content .article-text h2 {
    margin-top: 8px;
  }

  #content .icon-item {
    margin-bottom: 12px;
  }

  .two-button button {
    font-size: 12px;
  }

  #content .sidebar .middle-block .post-list {
    margin-bottom: 16px;
  }
}