@font-face {
  font-family: lightFont;
  src: url(fonts/SourceSansPro-Light.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: semiBoldFont;
  src: url(fonts/SourceSansPro-SemiBold.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(fonts/Montserrat-Bold.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(fonts/Montserrat-Medium.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(fonts/Montserrat-Regular.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* navigation */
.navigation {
  margin-right: 45px;
}

.navbar {
  padding-top: 48px;
  padding-bottom: 40px;
}

.navbar .logoleft {
  display: flex;
  align-items: center;
}

.navbar .logo {
  margin-left: 50px;
}

.navbar .tel {
  margin-bottom: 0;
  margin-left: 22px;
  font-family: boldFont, sans-serif;
  font-size: 12px;
  color: #535353;
  text-align-last: left;
}

.navbar a {
  font-family: mediumFont, serif;
  font-size: 14px;
}

.navbar a:hover {
  opacity: 0.7;
}

#header .nav-link {
  padding-right: 40px;
  color: #313131;
}

.navbar-nav .nav-link:focus,
.navbar-nav .icon-link:focus {
  outline: none;
}

.navbar-nav .icon-item img {
  margin-bottom: 5px;
}

.navbar-nav .icon-item img {
  width: 25px;
  height: auto;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-family: semiBoldFont, serif;
  position: absolute;
  bottom: 0px;
  right: -12px;
}

/* nav-dropdown */
.dropdown-menu {
  margin-top: 0;
  padding: 0;
  border: none;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

/* menu-big */
.dropdown-menu-big .dropdown-menu {
  width: 100%;
}

.dropdown-menu-big .menu-big-container {
  padding: 72px 0px 72px 72px;
}

.dropdown-menu-big .title {
  margin-bottom: 28px;
  color: #535353;
  font-family: boldFont, serif;
}

.dropdown-menu-big .title:after {
  content: "";
  position: absolute;
  left: 12px;
  top: 24px;
  height: 1px;
  width: 24%;
  border-bottom: 2px solid #535353;
}

.dropdown-menu-big ul {
  padding-left: 0;
}

.dropdown-menu-big li {
  margin-bottom: 8px;
  list-style: none;
}

.dropdown-menu-big li a {
  font-family: lightFont, serif;
  color: #757575;
}

.dropdown-menu-big .bottom {
  margin-top: 60px;
}

.dropdown-menu-big .bottom-left {
  background-image: url(../images/hover-product-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  cursor: pointer;
}

.dropdown-menu-big .bottom-left .name {
  color: #000000;
  font-family: boldFont, serif;
  text-align: center;
  letter-spacing: 20px;
  font-size: 20px;
}

.dropdown-menu-big .bottom-left .text {
  color: #000000;
  font-family: boldFont, serif;
  text-align: center;
  font-size: 16px;
}

.dropdown-menu-big .bottom-right {
  background-image: url(../images/hover-product-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.dropdown-menu-big .bottom-right .name {
  text-align: right;
  font-family: boldFont, serif;
  color: #535353;
  letter-spacing: 4px;
}

.dropdown-menu-big .bottom-right p {
  text-align: right;
  color: #979797;
  font-family: mediumFont, serif;
  font-size: 14px;
}

/* search */
.dropdown-search .dropdown-menu {
  width: 100%;
}

.dropdown-search .search-container {
  padding-bottom: 20%;
  background-color: #f6f6f6;
}

.dropdown-search .search-block {
  justify-content: center;
  color: #9d9d9d;
}

.dropdown-search .dropdown-menu input {
  padding-top: 240px;
  padding-bottom: 100px;
  font-family: lightFont, serif;
  border: none;
  background-color: transparent;
  width: 60%;
}

.dropdown-search .dropdown-menu input:focus {
  outline: none;
}

.dropdown-search .dropdown-menu .search-icon {
  padding-top: 240px;
}

.dropdown-search .search-icon i {
  margin-right: 8px;
  cursor: pointer;
}

.dropdown-search .delete-btn {
  color: #9d9d9d;
  text-align: center;
}

.dropdown-search .delete-btn i {
  padding: 20px;
  cursor: pointer;
}

/* shopping-cart */
.dropdown-shopping-cart .shopping-cart-container {
  padding: 60px 40px;
}

.dropdown-shopping-cart .product {
  margin-bottom: 16px;
}

.dropdown-shopping-cart .product img {
  width: 100%;
}

.dropdown-shopping-cart .name,
.dropdown-shopping-cart .qty,
.dropdown-shopping-cart .total .title {
  font-family: semiBoldFont, serif;
  color: #757575;
  font-size: 14px;
}

.dropdown-shopping-cart .price,
.dropdown-shopping-cart .total .total-price {
  font-family: semiBoldFont, serif;
  color: #010101;
  font-size: 14px;
}

.dropdown-shopping-cart .price i,
.dropdown-shopping-cart .total .total-price i {
  font-size: 12px;
}

.dropdown-shopping-cart .delete-btn button {
  color: #f05c5c;
  background-color: transparent;
  border: none;
}

.dropdown-shopping-cart .delete-btn button:focus {
  outline: none;
}

.dropdown-shopping-cart .total {
  padding: 24px 0;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.dropdown-shopping-cart .bottom-btn {
  margin-top: 20px;
  justify-content: space-between;
}

.dropdown-shopping-cart .bottom-btn .btn-light {
  border: 1px solid #000000;
  border-radius: 40px;
}

.dropdown-shopping-cart .bottom-btn .btn-light a {
  color: #000000;
  font-family: mediumFont, serif;
  font-size: 14px;
}

.dropdown-shopping-cart .bottom-btn .btn-dark {
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #000000;
}

.dropdown-shopping-cart .bottom-btn .btn-dark a {
  color: #ffffff;
  font-family: boldFont, serif;
  font-size: 14px;
}

/* jumbotron */
.jumbotron {
  margin-bottom: 0;
  height: 208px;
}

.jumbotron h1 {
  margin: 0 auto;
  text-align: center;
  font-family: boldFont, sans-serif;
  font-size: 44px;
  color: #494949;
}

/* .subcontent */
.subcontent {
  margin-bottom: 32px;
  height: 46px;
  background-color: #eeeeee;
}

.subcontent .left-block,
.subcontent .middle-block,
.subcontent .right-block {
  margin-top: 12px;
}

.subcontent .left-block {
  display: flex;
  justify-content: flex-start;
}

.subcontent .middle-block {
  display: flex;
  justify-content: center;
}

.subcontent .right-block {
  display: flex;
  justify-content: flex-end;
}

.subcontent p {
  margin-bottom: 0;
  font-family: lightFont, sans-serif;
  font-size: 14px;
  color: #494949;
}

.subcontent .fa-chevron-right {
  font-size: 12px;
}

.subcontent a {
  font-family: lightFont, sans-serif;
  font-size: 14px;
  color: #494949;
}

.subcontent .fa-search {
  margin-right: 20px;
}

/* #content */
#article .date {
  padding-left: 24px;
  padding-top: 4px;
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  color: #494949;
  top: 8%;
  left: 5%;
}

#article .date span {
  font-size: 28px;
}

#article .icon-list {
  top: 10%;
  right: 5%;
  position: absolute;
  color: #4c4c4c;
}

#article .main-article {
  padding: 60px 60px 0px 60px;
  width: 90%;
  height: auto;
  background-color: #ffffff;
  position: relative;
  bottom: 100px;
  left: 5%;
}

#article .main-article h2 {
  color: #494949;
  font-size: 30px;
  font-family: boldFont, serif;
}

#article .icon-item {
  margin-right: 24px;
  margin-bottom: 32px;
  font-size: 14px;
  color: #494949;
  font-style: italic;
}

#article .main-article p {
  color: #494949;
  font-size: 16px;
  font-family: lightFont, serif;
}

#article .multiple-img {
  margin: 48px 40px 100px 40px;
}

#article .multiple-img .col-md-4 img:first-child {
  margin-bottom: 32px;
}

/* #card */
#card .container {
  display: flex;
  width: 78%;
  height: auto;
  background-color: #f4f4f4;
}

#card img {
  margin: 32px 36px;
  width: 164px;
  height: 164px;
}

#card .text {
  margin: 48px 48px 48px 0;
}

#card .text .name {
  font-family: regularFont, serif;
  color: #171717;
  font-size: 18px;
}

#card .text .description {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: lightFont, serif;
  color: #898989;
  font-size: 14px;
}

#card .text .icon-list i {
  margin-right: 12px;
  color: #171717;
  font-size: 14px;
}

/* #comments */
#comments .container {
  margin-top: 130px;
  width: 78%;
}

#comments h4 {
  color: #494949;
  font-size: 24px;
  font-family: boldFont, serif;
}

#comments .comment-line {
  margin-bottom: 48px;
  width: 80px;
  border-bottom: 4px solid #494949;
}

#comments .comment {
  display: flex;
}

#comments .text .name {
  margin-top: 8px;
  font-family: semiBoldFont, serif;
  color: #171717;
  font-size: 14px;
}

#comments .text .date {
  font-family: lightFont, serif;
  color: #171717;
  font-size: 11px;
  font-style: italic;
}

#comments .text .description {
  margin-top: 16px;
  font-family: regularFont, serif;
  color: #858585;
  font-size: 14px;
}

#comments img {
  margin: 0px 16px 16px 0px;
  height: 64px;
  width: 64px;
}

#comments .card-line {
  margin: 8% 0px 10% 16%;
  width: 84%;
  border-bottom: 2px solid #eeeeee;
}

#comments .bottom-msg {
  margin-left: 80px;
}

/* #msg */
#msg .container {
  margin-top: 130px;
  width: 78%;
}

#msg h4 {
  margin-bottom: 40px;
  color: #494949;
  font-size: 24px;
  font-family: boldFont, serif;
}

#msg .tri-input {
  display: flex;
}

#msg input {
  margin: 0px 12px 12px 0px;
  padding: 10px 0px 6px 20px;
  width: 33%;
  font-size: 14px;
  background-color: #f7f7f7;
  border: none;
}

#msg textarea {
  padding: 16px 0px 12px 20px;
  width: 98%;
  font-size: 14px;
  background-color: #f7f7f7;
  border: none;
}

#msg button {
  margin-top: 20px;
  padding: 16px 24px;
  font-size: 14px;
  color: #858585;
  background-color: #f7f7f7;
  border: none;
}

/* footer-top */
#footer-top {
  margin-top: 150px;
  margin-bottom: 75px;
}

#footer-top h6 {
  font-family: boldFont, serif;
  font-size: 13px;
  color: #000000;
}

#footer-top ul {
  padding: 0;
}

#footer-top li {
  list-style-type: none;
}

#footer-top a,
p {
  font-family: regularFont, serif;
  font-size: 12px;
  color: #8f8f8f;
}

#footer-top .col-md-3 {
  text-align: right;
}

#footer-top img {
  height: 30px;
  width: 102px;
  margin-bottom: 52px;
}

#footer-bottom .credit-card {
  display: flex;
  justify-content: center;
}

#footer-bottom i {
  margin-left: 5px;
  font-size: 14px;
  color: #7a7a7a;
}

#footer-bottom p {
  margin-top: 15px;
  font-family: lightFont, serif;
  font-size: 11px;
  color: #8f8f8f;
  text-align: center;
}

@media (min-width: 992px) {
  #header .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-nav .icon-item {
    margin-left: 20px;
  }

  .dropdown-menu-big .dropdown-menu {
    display: none;
  }

  .dropdown-menu-big:hover .dropdown-menu {
    display: block;
    top: 86px;
  }

  .dropdown-shopping-cart .dropdown-menu {
    display: none;
  }

  .dropdown-shopping-cart:hover .dropdown-menu {
    display: block;
    top: 82px;
  }
}

@media (max-width: 991px) {
  #header .navigation {
    text-align: center;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navbar .logo {
    margin-left: 0;
  }

  #header .navigation {
    text-align: right;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navigation .navbar-nav a {
    padding-right: 0;
    font-size: 1.5rem;
  }

  #header .navbar-nav .icon-item img {
    margin-top: 16px;
    width: 36px;
  }

  .fa-angle-down {
    margin-top: 8px;
    margin-left: 8px;
  }

  #header .dropdown-shopping-cart .product img {
    margin-top: 0;
    width: 100%;
  }

  .dropdown-menu-big .row {
    flex-direction: column;
  }

  .dropdown-menu-big .title {
    font-size: 22px;
  }

  .dropdown-menu-big .title:after {
    top: 32px;
  }

  .dropdown-menu-big li {
    margin-bottom: 16px;
  }

  .dropdown-menu-big li:last-child {
    margin-bottom: 40px;
  }

  .dropdown-search .search-container {
    background-color: #ffffff;
  }

  .dropdown-search .search-block {
    font-size: 32px;
  }

  .dropdown-shopping-cart .name,
  .dropdown-shopping-cart .qty,
  .dropdown-shopping-cart .total .title,
  .dropdown-shopping-cart .price,
  .dropdown-shopping-cart .total .total-price {
    font-size: 28px;
  }

  .dropdown-shopping-cart .price i,
  .dropdown-shopping-cart .total .total-price i {
    font-size: 22px;
  }

  .dropdown-shopping-cart .delete-btn i {
    font-size: 28px;
  }

  #card .text .icon-list i {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .dropdown-shopping-cart .name,
  .dropdown-shopping-cart .qty,
  .dropdown-shopping-cart .total .title,
  .dropdown-shopping-cart .price,
  .dropdown-shopping-cart .total .total-price {
    font-size: 20px;
  }

  .dropdown-shopping-cart .price i,
  .dropdown-shopping-cart .total .total-price i {
    font-size: 16px;
  }

  .jumbotron {
    height: auto;
  }

  .jumbotron h1 {
    font-size: 28px;
  }

  .subcontent {
    padding-bottom: 12px;
    height: auto;
  }

  .subcontent .left-block,
  .subcontent .right-block {
    justify-content: center;
  }

  #article .main-article {
    margin-top: 40px;
    padding: 0;
    bottom: 0;
  }

  #article .multiple-img {
    margin: 60px 0px;
  }

  #article .multiple-img img {
    margin-bottom: 32px;
  }

  #card .container,
  #comments .container,
  #msg .container {
    width: 100%;
  }

  #card .container {
    margin-top: 100px;
  }

  #msg .tri-input {
    display: block;
  }

  #msg input {
    width: 98%;
  }

  #footer-top .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  #footer-top h6 {
    margin-bottom: 5px;
    font-size: 16px;
  }

  #footer-top li {
    margin-bottom: 20px;
  }

  #footer-top a,
  #footer-top p {
    font-size: 16px;
  }

  #footer-top .col-md-3 {
    text-align: left;
  }

  #footer-top .col-md-3 img {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .dropdown-shopping-cart .name,
  .dropdown-shopping-cart .qty,
  .dropdown-shopping-cart .total .title,
  .dropdown-shopping-cart .price,
  .dropdown-shopping-cart .total .total-price {
    font-size: 20px;
  }

  .dropdown-shopping-cart .shopping-cart-container {
    padding: 60px 15px;
  }

  .dropdown-menu-big .menu-big-container {
    padding: 36px 0px 36px 32px;
  }
}

@media (max-width: 480px) {
  .dropdown-search .search-block {
    font-size: 24px;
  }

  #header .dropdown-shopping-cart .bottom-btn a {
    font-size: 16px;
  }

  #article .main-article .tri-icon {
    flex-direction: column;
  }

  #card .container {
    display: block;
  }

  #card .text {
    padding: 0px 48px 48px;
  }

  #comments .comment {
    flex-direction: column;
  }
}
