@font-face {
  font-family: lightFont;
  src: url(fonts/SourceSansPro-Light.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: semiBoldFont;
  src: url(fonts/SourceSansPro-SemiBold.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: SSregularFont;
  src: url(fonts/SourceSansPro-Regular.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(fonts/Montserrat-Bold.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(fonts/Montserrat-Medium.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(fonts/Montserrat-Regular.ttf),
    url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* header-top */
#header-top {
  background-color: #282828;
}

#header-top .container {
  padding: 0;
  height: 40px;
}

#header-top span {
  padding-left: 20px;
}

#header-top .header-top-left {
  float: left;
  padding-top: 6px;
}

#header-top .header-top-right {
  float: right;
  padding-top: 6px;
}

#header-top a {
  font-family: boldFont, serif;
  color: #A1A1A1;
  font-size: 11px;
}

#header-top .gray {
  padding: 12px;
  background-color: #3F3E43;
}

/* navigation */
#header .container {
  padding: 0;
}

#header .navbar {
  padding-top: 48px;
  padding-bottom: 40px;
}

#header .navbar .logoleft {
  display: flex;
  align-items: center;
}

#header .navbar a {
  padding-right: 40px;
  font-family: mediumFont, serif;
  font-size: 14px;
  color: #313131;
}

#header .navbar a:hover {
  opacity: 0.7;
}

#header .navbar-nav .icon-item {
  margin-left: 20px;
}

#header .navbar-nav .icon-item .search img {
  width: 95%;
}

#header .navbar-nav .icon-item .cart img {
  width: 17%;
}

#header .navbar-nav .icon-link {
  padding: 0;
  font-size: 25px;
}

#header .cart {
  display: flex;
}

#header .cart-list {
  padding-left: 16px;
  font-size: 11px;
  color: #313131;
}

#header .cart:hover {
  text-decoration: none;
}

#header span {
  font-family: boldFont, serif;
}

/* content */

#banner-top .large .text,
#banner-top .medium .text-top,
#banner-top .medium .circle,
#banner-top .medium .left-text-chevron,
#banner-top .small .text-top,
#banner-top .small .text,
#banner-bottom .small .text,
#banner-bottom .small .left-text-chevron,
#banner-bottom .large .text,
#tri-products .text,
#tri-products .left-text-chevron {
  position: absolute;
  z-index: 100;
  color: #ffffff;
  font-family: mediumFont, serif;
}

#banner-top p,
#banner-bottom p,
#tri-products p {
  margin-bottom: 0;
}

#banner-top .small,
#banner-bottom .small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa-chevron-right {
  position: absolute;
  margin-left: 0.5rem;
  padding-top: 0.3rem;
  font-size: 0.5rem;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50px;
}

/* banner-top */
#banner-top {
  margin-bottom: 20px;
  justify-content: space-between;
}

#banner-top .large .text {
  bottom: 7%;
  left: 10%;
}

#banner-top .large .subtitle {
  margin-right: 12rem;
  padding: 4px;
  background-color: #535353;
  font-size: 0.8rem;
  letter-spacing: 4px;
  font-family: SSregularFont, serif;
}

#banner-top .large .boldtitle {
  font-size: 4rem;
  font-family: boldFont, serif;
}

#banner-top .large .title {
  font-size: 3.75rem;
  font-family: lightFont, serif;
}

#banner-top .large .description {
  font-size: 0.8rem;
}

#banner-top .large .price {
  font-size: 2rem;
}

#banner-top .medium .text-top {
  top: 10%;
  left: 10%;
}

#banner-top .medium .subtitle {
  font-size: 0.8rem;
  letter-spacing: 4px;
}

#banner-top .medium .title {
  font-size: 1.8rem;
}

#banner-top .medium .deleted-price {
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  text-decoration: line-through;
  opacity: 0.5;
}

#banner-top .medium .price {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

#banner-top .medium .circle {
  position: absolute;
  z-index: 100;
  width: 8rem;
  height: 8rem;
  background-color: #62C5DE;
  border-radius: 50%;
  bottom: 8rem;
  right: 2rem;
}

#banner-top .medium .left-text-chevron {
  bottom: 10%;
  left: 10%;
  font-size: 1rem;
}

#banner-top .medium .fa-chevron-right {
  color: #ffffff;
  border: 1px solid #ffffff;
}

#banner-top .small-top .text-top {
  text-align: right;
  top: 5%;
  right: 12%;
}

#banner-top .small-top .title {
  color: #939393;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: semiBoldFont, serif;
}

#banner-top .star {
  color: #C8A760;
  font-size: 0.5rem;
}

#banner-top .small-top .text {
  text-align: right;
  bottom: 15%;
  right: 12%;
}

#banner-top .small-top .price {
  color: #991015;
  font-size: 1.5rem;
}

#banner-top .small-top .shop-btn {
  margin-left: 4rem;
  font-size: 0.5rem;
  color: #ffffff;
  background: #2E2D32;
  padding: 0.2rem 0.5rem;
}

#banner-top .small-bottom .text-top {
  top: 10%;
  left: 8%;
  color: #2C3E66;
}

#banner-top .small-bottom .title {
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: semiBoldFont, serif;
}

#banner-top .small-bottom .text {
  bottom: 8%;
  left: 8%;
  color: #2C3E66;
}

#banner-top .small-bottom .deleted-price {
  text-decoration: line-through;
  color: #939393;
  font-size: 1.2rem;
}

#banner-top .small-bottom .price {
  font-size: 1.5rem;
}

#banner-top .small-bottom .left-text-chevron {
  font-size: 1rem;
}

#banner-top .small-bottom .fa-chevron-right {
  border: 1px solid #2C3E66;
}

/* banner-bottom */
#banner-bottom {
  margin-bottom: 40px;
  justify-content: space-between;
}

#banner-bottom .small-top .text {
  top: 15%;
  right: 10%;
  text-align: right;
}

#banner-bottom .small-top .subtitle {
  letter-spacing: 4px;
}

#banner-bottom .small-top .title {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

#banner-bottom .small-top .left-text-chevron {
  margin-right: 2rem;
  font-size: 1rem;
  color: #ffffff;
}

#banner-bottom .small-top .fa-chevron-right {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #B1DE89;
}

#banner-bottom .small-bottom .text {
  text-align: right;
  top: 15%;
  right: 10%;
}

#banner-bottom .small-bottom .subtitle {
  color: #B7B7B7;
  letter-spacing: 4px;
}

#banner-bottom .small-bottom .title {
  color: #535353;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

#banner-bottom .small .left-text-chevron {
  bottom: 10%;
  right: 10%;
}

#banner-bottom .small-bottom .left-text-chevron {
  margin-right: 2rem;
  font-size: 1rem;
  color: #b7b7b7;
}

#banner-bottom .small-bottom .fa-chevron-right {
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
}

#banner-bottom .large .text {
  top: 10%;
  left: 8%;
}

#banner-bottom .large .subtitle {
  color: #6A6A6A;
  letter-spacing: 4px;
}

#banner-bottom .large .boldtitle {
  color: #535353;
  font-size: 3.5rem;
  font-family: boldFont, serif;
}

#banner-bottom .large .title {
  color: #535353;
  font-size: 4rem;
  font-family: lightFont, serif;
}

#banner-bottom .large .description {
  color: #535353;
}

#banner-bottom .splide__arrows {
  display: none;
}

#banner-bottom .splide__pagination {
  left: 80px;
  bottom: 60px;
}

#banner-bottom .splide__pagination__page {
  margin: 5px;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid #ccc;
}

#banner-bottom .splide__pagination__page.is-active {
  border: 3px solid #4c4c4c;
  transform: scale(1.3);
}

/* featured */
#featured {
  margin-top: 20px;
}

#featured .tri-title {
  margin-bottom: 30px;
  height: 24px;
  font-size: 16px;
  font-family: mediumFont, serif;
}

#featured .title {
  padding: 0 30px;
  color: #838182;
  border-left: 1px solid #838182;
}

#featured .title-active {
  padding-right: 30px;
  color: #3A3A3A;
}

#featured .products .star {
  margin-left: 12px;
  margin-top: 8px;
  color: #C8A760;
  font-size: 10px;
}

#featured .products .star-none {
  margin-left: 12px;
  margin-top: 8px;
  color: transparent;
  font-size: 10px;
}

#featured .products .name {
  margin-left: 12px;
  padding-top: 4px;
  color: #757575;
  font-size: 19px;
  font-family: semiBoldFont, serif;
}

#featured .products .price {
  margin-left: 12px;
  padding-top: 8px;
  color: #010101;
  font-size: 24px;
  font-family: SSregularFont, serif;
}

#featured .products .price i {
  font-size: 18px;
}

#featured .discount {
  padding-top: 3px;
  width: 80px;
  height: 32px;
  background-color: #b2cc29;
  color: #ffffff;
  font-size: 18px;
  font-family: mediumFont, serif;
  text-align: center;
  top: 32px;
}

#featured .splide__arrow--prev,
#featured .splide__arrow--next {
  transform: translateY(-200%);
}

/* tri-products */
#tri-products {
  margin-top: 72px;
  margin-bottom: 72px;
}

#tri-products .text {
  left: 10%;
  top: 10%;
}

#tri-products .subtitle {
  color: #B7B7B7;
  letter-spacing: 4px;
}

#tri-products .title {
  font-size: 1.5rem;
  color: #535353;
  letter-spacing: 2px;
}

#tri-products .left-text-chevron {
  left: 10%;
  bottom: 15%;
  color: #B7B7B7;
}

#tri-products .fa-chevron-right {
  border: 1px solid #868686;
}

/* bestseller */
#bestseller .title {
  margin-bottom: 32px;
  color: #3A3A3A;
  font-size: 26px;
  font-family: boldFont, serif;
}

#bestseller .splide__arrow--prev,
#bestseller .splide__arrow--next {
  transform: translateY(-125%);
}

#bestseller .name {
  margin-top: 10px;
  margin-left: 16px;
  color: #757575;
  font-size: 16px;
  font-family: semiBoldFont, serif;
}

#bestseller .price {
  margin-left: 16px;
  color: #010101;
  font-size: 18px;
  font-family: SSregularFont, serif;
}

#bestseller .price i {
  font-size: 16px;
}

#bestseller .discount {
  padding-top: 3px;
  width: 64px;
  height: 24px;
  background-color: #b2cc29;
  color: #ffffff;
  font-size: 14px;
  font-family: mediumFont, serif;
  text-align: center;
  top: 32px;
}

#bestseller .newproduct {
  padding-top: 3px;
  width: 48px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  font-family: mediumFont, serif;
  text-align: center;
  top: 56px;
}

#bestseller .product-details {
  position: absolute;
  bottom: 1%;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.2s linear 0s;
}

#bestseller .product:hover>* {
  opacity: 0.5;
}

#bestseller .product:hover .product-details {
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

#bestseller .products button {
  widows: 213px;
  padding: 12px 9px;
  display: block;
  background-color: #ffffff;
  border: 0.8px solid #c8c8c8;
  color: #8a8a8a;
  font-size: 14px;
}

#bestseller .product-details a {
  color: #8a8a8a;
}

#bestseller .product-details i {
  font-size: 22px;
}

#bestseller .product-details img {
  opacity: 0.7;
}

#bestseller .product-details .btn-heart {
  border-left: none;
  border-right: none;
}

/* brands-logo */
#brands-logo {
  margin-top: 92px;
  margin-bottom: 40px;
}

#brands-logo .title {
  color: #3A3A3A;
  font-size: 26px;
  font-family: boldFont, serif;
}

#brands-logo span {
  color: #A0A0A0;
  font-size: 16px;
  font-family: semiBoldFont, serif;
  letter-spacing: 2px;
}

#brands-logo img {
  margin-top: 40px;
  margin-bottom: 40px;
  opacity: 0.7;
}

#brands-logo .splide__arrow {
  background-color: transparent;
  opacity: 0.5;
  width: 14px;
  height: 14px;
}

#brands-logo .splide__arrow--prev {
  transform: translate(-12px, -16px);
}

#brands-logo .splide__arrow--next {
  transform: translate(16px, -16px);
}



/* footer-top-top */
#footer-top-top {
  padding-top: 55px;
  background-color: #F6F6F6;
}

#footer-top-top .col-md-2 {
  padding: 0;
}

#footer-top-top .service {
  display: flex;
}

#footer-top-top .service i {
  font-size: 40px;
  color: #838182;
}

#footer-top-top .title {
  padding-left: 20px;
  font-family: boldFont, serif;
  font-size: 14px;
  color: #353535;
}

#footer-top-top .text {
  padding-left: 20px;
  font-family: regularFont, serif;
  font-size: 12px;
  color: #353535;
}

#footer-top-top .borderline {
  padding-bottom: 55px;
  border-bottom: 2px solid #E0E0E0;
}

/* footer-top */
#footer-top {
  margin-bottom: 30px;
  padding: 72px 0;
  background-color: #F6F6F6;
}

#footer-top .col-md-7 {
  display: flex;
  justify-content: center;
}

#footer-top .second-col {
  padding-left: 60px;
}

#footer-top .third-col {
  padding-left: 20px;
}

#footer-top .right-col {
  text-align: right;
}

#footer-top img {
  height: 30px;
  width: 110px;
  margin-bottom: 28px;
}

#footer-top h6 {
  font-family: semiBoldFont, serif;
  font-size: 16px;
  color: #575757;
}

#footer-top .title {
  margin-bottom: 40px;
}

#footer-top .address {
  display: flex;
}

#footer-top .text {
  margin-bottom: 18px;
  margin-left: 20px;
}

#footer-top .fa-map-marker-alt {
  margin-top: 5px;
}

#footer-top ul {
  padding: 0;
}

#footer-top li {
  margin-bottom: 5px;
  list-style-type: none;
}

#footer-top a,
#footer-top p,
#footer-top .text {
  font-family: SSregularFont, serif;
  font-size: 14px;
  color: #868686;
}

#footer-top .subscribe-email {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 34px;
  padding-left: 20px;
  background-color: #ffffff;
  border-radius: 40px;
}

#footer-top input {
  margin: 12px 0px;
  width: 100%;
  border: none;
  outline: none;
  font-family: boldFont, serif;
  font-size: 10px;
  background-color: #ffffff;
}

#footer-top button {
  border: none;
  outline: none;
  background-color: #696969;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  font-family: boldFont, serif;
  color: #F6F6F6;
  font-size: 10px;
}

#footer-top i {
  padding-right: 5px;
  font-size: 8px;
  color: #868686;
}

/* footer-bottom */
#footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

#footer-bottom i {
  margin-left: 5px;
  font-size: 14px;
  color: #7A7A7A;
}

#footer-bottom p {
  font-family: lightFont, serif;
  font-size: 14px;
  color: #868686;
}

#footer-bottom span {
  font-family: semiBoldFont, serif;
  font-size: 14px;
  color: #000000;
}


/* mediaquery */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  #featured .splide__arrow--prev {
    transform: translate(1114px, -240px);
    background-color: #ffffff;
  }

  #featured .splide__arrow--next {
    transform: translate(10px, -240px);
    background-color: #ffffff;
  }

  #featured .arrow-bg {
    transform: translate(716px, 0px);
    height: 40px;
    width: 72px;
    background-color: #eeeeee;
    border-radius: 50px;
  }

  #bestseller .splide__arrow--prev {
    transform: translate(1114px, -246px);
    background-color: #ffffff;
  }

  #bestseller .splide__arrow--next {
    transform: translate(10px, -246px);
    background-color: #ffffff;
  }

  #bestseller .arrow-bg {
    transform: translate(1126px, -72px);
    height: 40px;
    width: 72px;
    background-color: #eeeeee;
    border-radius: 50px;
  }
}

@media (max-width: 1200px) {

  .navigation .cart-list {
    display: none;
  }

  #header .navbar .logo {
    margin-left: 0;
  }

  #tri-products {
    display: block;
  }

  #bestseller .title {
    margin-top: 40px;
  }

}

@media (min-width: 992px) {
  .navigation {
    display: flex;
    justify-content: flex-end;
  }

  #tri-products .col-lg-4 {
    padding: 0;
  }
}

@media (max-width: 991px) {

  #header-top {
    display: none;
  }

  #header .navigation {
    text-align: right;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navigation .navbar-nav a {
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
  }

  #header .navbar-nav .icon-item .search img {
    margin-top: 16px;
    width: 10%;
  }

  #header .navbar-nav .icon-item .cart img {
    margin-top: 16px;
    width: 11%;
  }

  .fa-angle-down {
    margin-top: 8px;
    margin-left: 8px;
  }

  #banner-top .large img {
    margin-bottom: 20px;
  }

  #banner-top .medium .subtitle {
    font-size: 1rem;
  }

  #banner-top .medium .title {
    font-size: 2.2rem;
  }

  #banner-top .medium .circle {
    width: 13rem;
    height: 13rem;
  }

  #banner-top .medium .deleted-price {
    margin-top: 2.2rem;
    margin-left: 1.8rem;
    font-size: 2.2rem;
  }

  #banner-top .medium .price {
    margin-left: 0.8rem;
    font-size: 2.6rem;
  }

  #banner-top .medium .left-text-chevron {
    font-size: 1.8rem;
  }

  #banner-top .medium .fa-chevron-right {
    margin-top: 0.7rem;
  }

  #banner-top .small-top .title,
  #banner-top .small-bottom .title {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }

  #banner-top .star {
    font-size: 1rem;
  }

  #banner-top .small-top .price {
    font-size: 2.5rem;
  }

  #banner-top .small-top .shop-btn {
    font-size: 1.3rem;
  }

  #banner-top .small-bottom .deleted-price {
    font-size: 1.5rem;
  }

  #banner-top .small-bottom .price {
    font-size: 2rem;
  }

  #banner-top .small-bottom .left-text-chevron {
    font-size: 1.5rem;
  }

  #banner-top .small-bottom .fa-chevron-right {
    margin-top: 0.3rem;
  }

  #banner-bottom img {
    margin-bottom: 20px;
  }

  #banner-bottom .small .subtitle {
    font-size: 2rem;
    letter-spacing: 6px;
  }

  #banner-bottom .small .title {
    font-size: 3rem;
  }

  #banner-bottom .small .left-text-chevron {
    font-size: 1.5rem;
  }

  #banner-bottom .small .fa-chevron-right {
    margin-top: 0.4rem;
  }

  #tri-products img {
    margin-bottom: 20px;
  }

  #tri-products .subtitle {
    font-size: 1.5rem;
    letter-spacing: 6px;
  }

  #tri-products .title {
    font-size: 3rem;
    letter-spacing: 4px;
  }

  #tri-products .left-text-chevron {
    font-size: 1.5rem;
  }

  #tri-products .fa-chevron-right {
    margin-top: 0.4rem;
  }

  #footer-top .md-mb {
    margin-bottom: 30px;
  }

  #footer-top .second-col {
    padding-left: 20px;
  }

  #footer-top .right-col {
    text-align: left;
  }

  #footer-top .title {
    margin-bottom: 5px;
  }

  #footer-top li {
    margin-bottom: 15px;
  }

  #footer-top h6 {
    font-size: 20px;
  }

  #footer-top a {
    font-size: 18px;
  }

  #footer-top input {
    padding: 10px 0;
  }

  #footer-top .social-media i {
    padding-right: 30px;
    font-size: 25px;
  }
}

@media (max-width: 767px) {

  #banner-top .medium img,
  #banner-top .small img {
    margin-bottom: 20px;
  }

  #banner-top .medium .subtitle {
    font-size: 1.5rem;
  }

  #banner-top .medium .title {
    font-size: 3rem;
  }

  #banner-top .medium .circle {
    width: 18rem;
    height: 18rem;
    bottom: 15rem;
  }

  #banner-top .medium .deleted-price {
    font-size: 3rem;
    margin-top: 2.8rem;
    margin-left: 2.5rem;
  }

  #banner-top .medium .price {
    margin-left: 1.5rem;
    font-size: 3.5rem;
  }

  #banner-top .medium .left-text-chevron {
    font-size: 2.5rem;
  }

  #banner-top .medium .fa-chevron-right {
    padding-top: 0.75rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
  }

  #banner-bottom .small .subtitle {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }

  #banner-bottom .small .text {
    top: 5%;
  }

  #banner-bottom .small .title {
    font-size: 2rem;
  }

  #banner-bottom .large .subtitle {
    letter-spacing: 4px;
  }

  #banner-bottom .large .boldtitle {
    font-size: 2.5rem;
  }

  #banner-bottom .large .title {
    font-size: 3rem;
  }

  #banner-bottom .large .description {
    color: #535353;
  }
}

@media (min-width:575px) {
  #content .container {
    padding: 0;
  }
}

@media (max-width: 480px) {

  #banner-top .large .subtitle,
  #banner-bottom .large .subtitle,
  #banner-bottom .large .description,
  #featured .title,
  #footer-bottom .credit-card {
    display: none;
  }

  #header .navbar-nav .icon-item .search img {
    width: 20%;
  }

  #header .navbar-nav .icon-item .cart img {
    width: 21%;
  }

  #banner-top .large .text {
    width: 80%;
  }

  #banner-bottom .large .boldtitle {
    font-size: 2rem;
  }

  #banner-bottom .large .title {
    font-size: 2rem;
  }

  #banner-top .medium .subtitle {
    font-size: 1.5rem;
  }

  #banner-top .medium .title {
    font-size: 2rem;
  }

  #banner-top .medium .circle {
    width: 13rem;
    height: 13rem;
    bottom: 7rem;
  }

  #banner-top .medium .deleted-price {
    font-size: 2rem;
  }

  #banner-top .medium .price {
    font-size: 2.5rem;
  }

  #banner-top .medium .left-text-chevron {
    font-size: 1.5rem;
  }

  #banner-top .medium .fa-chevron-right {
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.5rem;
  }

  #featured .title-active {
    color: #3A3A3A;
    font-size: 26px;
    font-family: boldFont, serif;
  }

  #bestseller .name,
  #bestseller .price,
  #bestseller .price i {
    font-size: 2rem;
  }

  #footer-top-top .service i {
    font-size: 24px;
  }

  #footer-top .social-media i {
    padding-right: 20px;
  }

  #tri-products .subtitle {
    font-size: 1rem;
    letter-spacing: 4px;
  }

  #tri-products .title {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  #tri-products .left-text-chevron {
    font-size: 1rem;
  }

  #tri-products .fa-chevron-right {
    margin-top: 0;
  }
}