@font-face {
  font-family: lightFont;
  src: url(fonts/SourceSansPro-Light.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: semiBoldFont;
  src: url(fonts/SourceSansPro-SemiBold.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: SSregularFont;
  src: url(fonts/SourceSansPro-Regular.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(fonts/Montserrat-Bold.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(fonts/Montserrat-Medium.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(fonts/Montserrat-Regular.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* .jumbotron */
.jumbotron {
  padding-top: 20px;
  padding-bottom: 8px;
}

.jumbotron h1 {
  margin-top: 52px;
  margin-bottom: 24px;
  font-size: 44px;
  font-family: boldFont, serif;
  text-align: center;
}

.jumbotron p {
  font-size: 14px;
  font-family: lightFont, serif;
}

/* navigation */
#header-top {
  padding: 0 15px 20px;
  justify-content: space-between;
  font-size: 12px;
  color: #2f2f2f;
  font-family: mediumFont, serif;
}

#header-top .account {
  padding-right: 12px;
  border-right: 1px solid #2f2f2f;
  cursor: pointer;
}

#header-top .btn-secondary {
  padding: 0 0 0 12px;
  font-size: 12px;
  color: #2f2f2f;
  background-color: transparent;
  border: none;
}

/* navigation */
.navigation {
  margin-right: 8px;
}

.navbar {
  padding-top: 48px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.navbar .logoleft {
  align-items: center;
}

.navbar .logo {
  margin-left: 24px;
}

.navbar a {
  font-family: mediumFont, serif;
  font-size: 14px;
}

.navbar a:hover {
  opacity: 0.7;
}

#header .nav-link {
  padding-right: 40px;
  color: #313131;
}

.navbar-nav .nav-link:focus,
.navbar-nav .icon-link:focus {
  outline: none;
}

.navbar-nav .icon-item img {
  margin-bottom: 5px;
}

.navbar-nav .icon-item img {
  width: 25px;
  height: auto;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-family: semiBoldFont, serif;
  position: absolute;
  bottom: 0px;
  right: -12px;
}

/* nav-dropdown */
.dropdown-menu {
  margin-top: 0;
  padding: 0;
  border: none;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

/* menu-big */
.dropdown-menu-big .dropdown-menu {
  width: 100%;
}

.dropdown-menu-big .menu-big-container {
  padding: 72px 0px 72px 72px;
}

.dropdown-menu-big .title {
  margin-bottom: 28px;
  color: #535353;
  font-family: boldFont, serif;
}

.dropdown-menu-big .title:after {
  content: "";
  position: absolute;
  left: 12px;
  top: 24px;
  height: 1px;
  width: 24%;
  border-bottom: 2px solid #535353;
}

.dropdown-menu-big ul {
  padding-left: 0;
}

.dropdown-menu-big li {
  margin-bottom: 8px;
  list-style: none;
}

.dropdown-menu-big li a {
  font-family: lightFont, serif;
  color: #757575;
}

.dropdown-menu-big .bottom {
  margin-top: 60px;
}

.dropdown-menu-big .bottom-left {
  background-image: url(../images/hover-product-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  cursor: pointer;
}

.dropdown-menu-big .bottom-left .name {
  color: #000000;
  font-family: boldFont, serif;
  text-align: center;
  letter-spacing: 20px;
  font-size: 20px;
}

.dropdown-menu-big .bottom-left .text {
  color: #000000;
  font-family: boldFont, serif;
  text-align: center;
  font-size: 16px;
}

.dropdown-menu-big .bottom-right {
  background-image: url(../images/hover-product-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.dropdown-menu-big .bottom-right .name {
  text-align: right;
  font-family: boldFont, serif;
  color: #535353;
  letter-spacing: 4px;
}

.dropdown-menu-big .bottom-right p {
  text-align: right;
  color: #979797;
  font-family: mediumFont, serif;
  font-size: 14px;
}

/* search */
.dropdown-search .dropdown-menu {
  width: 100%;
}

.dropdown-search .search-container {
  padding-bottom: 20%;
  background-color: #f6f6f6;
}

.dropdown-search .search-block {
  justify-content: center;
  color: #9d9d9d;
}

.dropdown-search .dropdown-menu input {
  padding-top: 240px;
  padding-bottom: 100px;
  font-family: lightFont, serif;
  border: none;
  background-color: transparent;
  width: 60%;
}

.dropdown-search .dropdown-menu input:focus {
  outline: none;
}

.dropdown-search .dropdown-menu .search-icon {
  padding-top: 240px;
}

.dropdown-search .search-icon i {
  margin-right: 8px;
  cursor: pointer;
}

.dropdown-search .delete-btn {
  color: #9d9d9d;
  text-align: center;
}

.dropdown-search .delete-btn i {
  padding: 20px;
  cursor: pointer;
}

/* shopping-cart */
.dropdown-shopping-cart .shopping-cart-container {
  padding: 60px 40px;
}

.dropdown-shopping-cart .product {
  margin-bottom: 16px;
}

.dropdown-shopping-cart .product img {
  width: 100%;
}

.dropdown-shopping-cart .name,
.dropdown-shopping-cart .qty,
.dropdown-shopping-cart .total .title {
  font-family: semiBoldFont, serif;
  color: #757575;
  font-size: 14px;
}

.dropdown-shopping-cart .price,
.dropdown-shopping-cart .total .total-price {
  font-family: semiBoldFont, serif;
  color: #010101;
  font-size: 14px;
}

.dropdown-shopping-cart .price i,
.dropdown-shopping-cart .total .total-price i {
  font-size: 12px;
}

.dropdown-shopping-cart .delete-btn button {
  color: #f05c5c;
  background-color: transparent;
  border: none;
}

.dropdown-shopping-cart .delete-btn button:focus {
  outline: none;
}

.dropdown-shopping-cart .total {
  padding: 24px 0;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.dropdown-shopping-cart .bottom-btn {
  margin-top: 20px;
  justify-content: space-between;
}

.dropdown-shopping-cart .bottom-btn .btn-light {
  border: 1px solid #000000;
  border-radius: 40px;
}

.dropdown-shopping-cart .bottom-btn .btn-light a {
  color: #000000;
  font-family: mediumFont, serif;
  font-size: 14px;
}

.dropdown-shopping-cart .bottom-btn .btn-dark {
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #000000;
}

.dropdown-shopping-cart .bottom-btn .btn-dark a {
  color: #ffffff;
  font-family: boldFont, serif;
  font-size: 14px;
}

/* #content */
.step-wizard {
  margin-top: 76px;
}

.stepwizard-row {
  justify-content: space-evenly;
}

.stepwizard-row:before {
  top: 44px;
  position: absolute;
  content: " ";
  width: 50%;
  height: 1px;
  background-color: #ccc;
  z-index: -100;
}

.step-wizard .btn-circle {
  padding: 20px 0;
  width: 88px;
  height: 88px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid #f2f2f2;
  color: #9f9f9f;
  font-size: 28px;
  font-family: boldFont, serif;
}

.step-wizard .btn-light {
  color: #000000;
  border: 4px solid #000000;
}

.step-wizard .step p {
  margin-top: 20px;
  color: #9f9f9f;
  font-family: boldFont, serif;
}

.step-wizard .step p.active {
  color: #000000;
}

/* .product */
.product {
  margin-top: 152px;
}

.product .title-list {
  padding-bottom: 12px;
  border-bottom: 2px solid #eeeeee;
}

.product .title-list h5 {
  font-size: 16px;
  color: #808080;
  font-family: semiBoldFont, serif;
}

.product .shopping-list {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid #eeeeee;
}

.product .shopping-list .product-name,
.product .shopping-list .price,
.product .shopping-list .quantity,
.product .shopping-list .total,
.product .shopping-list .delete {
  display: flex;
  align-items: center;
}

.product .shopping-list img {
  margin-right: 66px;
}

.product .shopping-list .product-name {
  font-size: 18px;
  color: #757575;
  font-family: semiBoldFont, serif;
}

.product .shopping-list .price,
.product .shopping-list .total {
  font-size: 18px;
  color: #010101;
  font-family: semiBoldFont, serif;
}

.product .shopping-list .price i,
.product .shopping-list .total i {
  font-size: 14px;
}

.product .shopping-list .delete button {
  color: #f05c5c;
  background-color: #fff;
  border: none;
}

.product .shopping-list .delete button:focus {
  outline-color: #eeeeee;
}

/* .coupon */
.coupon {
  padding-top: 40px;
  padding-bottom: 48px;
  border-bottom: 2px solid #eeeeee;
}

.coupon .form-inline {
  justify-content: center;
}

.coupon .form-control {
  padding: 23px 100px 22px 16px;
  font-size: 14px;
  color: #7d7d7d;
  font-family: SSregularFont, serif;
  border-radius: 0px;
}

.coupon button {
  margin-left: 12px;
  padding: 10px 28px;
  background-color: #cba233;
  border: none;
  border-radius: 0;
  font-family: boldFont, serif;
  font-size: 18px;
}

/* .form */
.shipping-cart-form {
  margin-top: 80px;
}

.shipping-cart-form h4 {
  padding-left: 14px;
  font-size: 18px;
  color: #000000;
  font-family: mediumFont, serif;
}

.shipping-form .form-group {
  margin-bottom: 0;
}

.shipping-form .form-control {
  font-size: 14px;
  color: #7d7d7d;
  font-family: SSregularFont, serif;
  border-radius: 4px;
}

.shipping-form button {
  margin-top: 16px;
  background-color: #f6f6f6;
  color: #c6c6c6;
  font-size: 18px;
  font-family: boldFont, serif;
  border: 1px solid #c6c6c6;
}

.cart-form .block {
  padding: 28px;
  margin-top: 28px;
  margin-bottom: 14px;
  border: 1px solid #dcdcdc;
}

.cart-form .top-block,
.cart-form .middle-block,
.cart-form .bottom-block {
  padding: 6px 0px;
  justify-content: space-between;
}

.cart-form .middle-block {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.cart-form h6 {
  margin-bottom: 0;
  font-size: 16px;
  color: #808080;
  font-family: semiBoldFont, serif;
}

.cart-form .shipping {
  font-size: 12px;
}

.cart-form .price {
  font-size: 22px;
  font-family: semiBoldFont, serif;
}

.cart-form .price i {
  font-size: 18px;
}

.cart-form .btn-right {
  justify-content: flex-end;
}

.cart-form button {
  background-color: #88bd6e;
  color: #ffffff;
  font-size: 18px;
  font-family: boldFont, serif;
  border: none;
}

/* footer-top */
#footer-top {
  margin-top: 108px;
  margin-bottom: 30px;
  padding: 72px 0;
  background-color: #f6f6f6;
}

#footer-top .second-col {
  padding-left: 60px;
}

#footer-top .third-col {
  padding-left: 20px;
}

#footer-top .right-col {
  text-align: right;
}

#footer-top img {
  height: 30px;
  width: 110px;
  margin-bottom: 28px;
}

#footer-top h6 {
  font-family: semiBoldFont, serif;
  font-size: 16px;
  color: #575757;
}

#footer-top .title {
  margin-bottom: 40px;
}

#footer-top .address {
  display: flex;
}

#footer-top .text {
  margin-bottom: 18px;
  margin-left: 20px;
}

#footer-top .fa-map-marker-alt {
  margin-top: 5px;
}

#footer-top ul {
  padding: 0;
}

#footer-top li {
  margin-bottom: 5px;
  list-style-type: none;
}

#footer-top a,
p,
.text {
  font-family: SSregularFont, serif;
  font-size: 14px;
  color: #868686;
}

#footer-top .subscribe-email {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 34px;
  padding-left: 18px;
  border: 1px solid #909090;
  border-radius: 40px;
}

#footer-top input {
  margin: 3px 0px;
  border: none;
  outline: none;
  font-size: 10px;
  background-color: #f6f6f6;
}

#footer-top button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #8c8c8c;
}

#footer-top i {
  padding-right: 5px;
  font-size: 8px;
  color: #868686;
}

/* footer-bottom */
#footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

#footer-bottom i {
  margin-left: 5px;
  font-size: 14px;
  color: #7a7a7a;
}

#footer-bottom p {
  font-family: lightFont, serif;
  font-size: 14px;
  color: #868686;
}

#footer-bottom span {
  font-family: semiBoldFont, serif;
  font-size: 14px;
  color: #000000;
}

@media (min-width: 992px) {
  #header .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-nav .icon-item {
    margin-left: 20px;
  }

  .dropdown-menu-big .dropdown-menu {
    display: none;
  }

  .dropdown-menu-big:hover .dropdown-menu {
    display: block;
    top: 86px;
  }

  .dropdown-shopping-cart .dropdown-menu {
    display: none;
  }

  .dropdown-shopping-cart:hover .dropdown-menu {
    display: block;
    top: 82px;
  }
}

@media (max-width: 991px) {
  #header .navigation {
    text-align: center;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navbar .logo {
    margin-left: 0;
  }

  #header .navigation {
    text-align: right;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navigation .navbar-nav a {
    padding-right: 0;
    font-size: 1.5rem;
  }

  #header .navbar-nav .icon-item img {
    margin-top: 16px;
    width: 36px;
  }

  .fa-angle-down {
    margin-top: 8px;
    margin-left: 8px;
  }

  #header .dropdown-shopping-cart .product img {
    margin-top: 0;
    width: 100%;
  }

  .dropdown-menu-big .row {
    flex-direction: column;
  }

  .dropdown-menu-big .title {
    font-size: 22px;
  }

  .dropdown-menu-big .title:after {
    top: 32px;
  }

  .dropdown-menu-big li {
    margin-bottom: 16px;
  }

  .dropdown-menu-big li:last-child {
    margin-bottom: 40px;
  }

  .dropdown-search .search-container {
    background-color: #ffffff;
  }

  .dropdown-search .search-block {
    font-size: 32px;
  }

  .dropdown-shopping-cart .name,
  .dropdown-shopping-cart .qty,
  .dropdown-shopping-cart .total .title,
  .dropdown-shopping-cart .price,
  .dropdown-shopping-cart .total .total-price {
    font-size: 28px;
  }

  .dropdown-shopping-cart .price i,
  .dropdown-shopping-cart .total .total-price i {
    font-size: 22px;
  }

  .dropdown-shopping-cart .delete-btn i {
    font-size: 28px;
  }

  #footer-top .md-mb {
    margin-bottom: 30px;
  }

  #footer-top .second-col {
    padding-left: 20px;
  }

  #footer-top .right-col {
    text-align: left;
  }

  #footer-top .title {
    margin-bottom: 5px;
  }

  #footer-top li {
    margin-bottom: 15px;
  }

  #footer-top input {
    padding: 10px 0;
  }

  #footer-top .social-media i {
    padding-right: 30px;
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .dropdown-shopping-cart .name,
  .dropdown-shopping-cart .qty,
  .dropdown-shopping-cart .total .title,
  .dropdown-shopping-cart .price,
  .dropdown-shopping-cart .total .total-price {
    font-size: 20px;
  }

  .dropdown-shopping-cart .price i,
  .dropdown-shopping-cart .total .total-price i {
    font-size: 16px;
  }

  .cart-form {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .dropdown-shopping-cart .name,
  .dropdown-shopping-cart .qty,
  .dropdown-shopping-cart .total .title,
  .dropdown-shopping-cart .price,
  .dropdown-shopping-cart .total .total-price {
    font-size: 20px;
  }

  .dropdown-shopping-cart .shopping-cart-container {
    padding: 60px 15px;
  }

  .dropdown-menu-big .menu-big-container {
    padding: 36px 0px 36px 32px;
  }
}

@media (max-width: 480px) {
  .dropdown-search .search-block {
    font-size: 24px;
  }

  #header .dropdown-shopping-cart .bottom-btn a {
    font-size: 16px;
  }

  .jumbotron h1 {
    font-size: 32px;
  }

  .shopping-list .price,
  .shopping-list .quantity,
  .shopping-list .total,
  .shopping-list .delete {
    padding: 0;
  }
}
