@font-face {
  font-family: lightFont;
  src: url(fonts/SourceSansPro-Light.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: semiBoldFont;
  src: url(fonts/SourceSansPro-SemiBold.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: SSregularFont;
  src: url(fonts/SourceSansPro-Regular.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(fonts/Montserrat-Bold.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(fonts/Montserrat-Medium.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(fonts/Montserrat-Regular.ttf), url(fonts/adobeInvisFont.ttf),
    url(fonts/MyriadPro-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* navigation */
.navigation {
  margin-right: 45px;
}

.navbar {
  padding-top: 48px;
  padding-bottom: 40px;
}

.navbar .logoleft {
  display: flex;
  align-items: center;
}

.navbar .logo {
  margin-left: 50px;
}

.navbar .tel {
  margin-bottom: 0;
  margin-left: 22px;
  font-family: boldFont, sans-serif;
  font-size: 12px;
  color: #535353;
  text-align-last: left;
}

#header .navbar a {
  font-family: mediumFont, serif;
  font-size: 14px;
  color: #313131;
}

#header .navbar a:hover {
  opacity: 0.7;
}

#header .nav-link {
  padding-right: 40px;
}

.navbar-nav .icon-link {
  padding: 0;
  font-size: 25px;
}

.navbar-nav .icon-item {
  margin-left: 20px;
}

.navbar-nav .icon-item img {
  margin-bottom: 5px;
}

.navbar-nav .icon-item img {
  width: 25px;
  height: auto;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-family: semiBoldFont, serif;
  position: absolute;
  bottom: -4px;
  right: -12px;
}

.fa-align-right {
  border: 2px solid #313131;
  border-radius: 50%;
  padding: 4px 6px;
}

/* .jumbotron */
.jumbotron {
  position: relative;
  height: 208px;
}

.jumbotron h1 {
  position: relative;
  z-index: 2;
  font-family: boldFont, sans-serif;
  font-size: 44px;
  color: #494949;
  text-align: center;
}

.jumbotron p {
  position: relative;
  z-index: 2;
  font-family: lightFont, sans-serif;
  font-size: 14px;
  color: #494949;
  text-align: center;
}

.jumbotron .fa-chevron-right {
  font-size: 12px;
}

/* #content */
#content {
  margin-bottom: 100px;
}

.filter {
  margin-bottom: 44px;
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
}

.left-banner .filter .container {
  padding: 40px 32px;
}

.left-banner .two-btn {
  justify-content: space-around;
}

.left-banner .btn-dark {
  margin-bottom: 32px;
  font-family: boldFont, serif;
  background-color: #494949;
  border: none;
}

.left-banner h6 {
  margin-bottom: 24px;
  font-size: 24px;
  color: #494949;
  font-family: boldFont, serif;
}

.left-banner .filter-brands {
  margin-bottom: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #919191;
}

.left-banner .filter-brands .block {
  padding-left: 28px;
  justify-content: space-between;
  position: relative;
}

.left-banner .filter-brands input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.left-banner .filter-brands .checkmark {
  margin-top: 6px;
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #919191;
  cursor: pointer;
}

.left-banner .filter-brands label {
  color: #919191;
  font-family: lightFont, serif;
  cursor: pointer;
}

.left-banner .filter-brands .check-block:hover .checkmark {
  background-color: #ccc;
}

.left-banner .filter-brands .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.left-banner .filter-brands input:checked ~ label .checkmark:after {
  display: block;
}

.left-banner .filter-brands .block .checkmark:after {
  left: 6px;
  bottom: 2px;
  width: 8px;
  height: 16px;
  border: solid #919191;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.left-banner .filter-brands .number {
  color: #919191;
  font-family: lightFont, serif;
}

.left-banner .filter .title {
  margin-bottom: 20px;
  color: #919191;
  font-family: semiBoldFont, serif;
}

.left-banner .filter-price .slider.slider-horizontal {
  width: 100%;
}

.left-banner .filter-price .slider-handle {
  background: #f2f2f2;
  border: 4px solid #494949;
  border-radius: 50%;
}

.left-banner .filter-price .slider-selection {
  background: #494949;
}

.left-banner .filter-price .slider-track-low,
.left-banner .filter-price .slider-track-high {
  background: #b3b3b3;
}

.left-banner .filter-price .slider-track {
  height: 5px;
  margin-top: -3px;
}

.left-banner .bottom-of-filter {
  margin-top: 20px;
  justify-content: space-between;
}

.left-banner .bottom-of-filter {
  font-size: 14px;
  color: #494949;
  font-family: SSregularFont, serif;
}

.left-banner .bottom-of-filter input {
  padding: 4px 8px;
  color: #ffffff;
  background-color: #494949;
  border: none;
  border-radius: 8px;
}

.left-banner .categories {
  margin-bottom: 72px;
}

.left-banner .category {
  padding: 8px 0;
  justify-content: space-between;
  color: #9c9c9c;
  font-family: boldFont, serif;
  border-bottom: 1px solid #9c9c9c;
}

.left-banner .line-none {
  border-bottom: none;
}

.left-banner .number {
  font-size: 14px;
  font-family: regularFont, serif;
}

.hotsale .product {
  margin-bottom: 12px;
}

.hotsale .product .name {
  font-size: 14px;
  color: #959596;
  font-family: regularFont, serif;
}

.hotsale .product .star {
  font-size: 12px;
  color: #c8a760;
}

.hotsale .product .price {
  font-size: 18px;
  color: #252528;
  font-family: regularFont, serif;
}

.hotsale .product .deleted {
  font-size: 14px;
  opacity: 0.6;
  text-decoration: line-through;
}

/* #content .right-banner */
.right-banner .product-nav {
  margin-bottom: 24px;
  justify-content: space-between;
}

.right-banner .product-nav .left-nav {
  font-size: 12px;
  color: #a5a5a5;
  font-family: lightFont, serif;
}

.right-banner .product-nav .left-nav span {
  font-family: SSregularFont, serif;
}

.right-banner .product-nav .right-nav {
  font-size: 14px;
  color: #a5a5a5;
  font-family: lightFont, serif;
}

.right-banner .product-nav .right-nav .btn-secondary {
  color: #a5a5a5;
  background-color: #fff;
  border: 1px solid #a5a5a5;
  border-radius: 50px;
}

.right-banner .product-nav .right-nav .icon-item {
  margin-left: 8px;
  padding: 8px 12px 0 12px;
  border: 1px solid #a5a5a5;
  border-radius: 50%;
}

.right-banner .row {
  margin-bottom: 60px;
}

.right-banner .title {
  margin-top: 112px;
  margin-bottom: 32px;
  color: #3a3a3a;
  font-size: 26px;
  font-family: boldFont, serif;
}

.right-banner .star {
  margin-top: 10px;
  margin-left: 16px;
  font-size: 12px;
  color: #c8a760;
}

.right-banner .star.none {
  opacity: 0;
}

.right-banner .name {
  margin-left: 16px;
  color: #757575;
  font-size: 16px;
  font-family: semiBoldFont, serif;
}

.right-banner .price {
  margin-left: 16px;
  color: #010101;
  font-size: 18px;
  font-family: SSregularFont, serif;
}

.right-banner .price i {
  font-size: 16px;
}

.right-banner .discount {
  padding-top: 3px;
  width: 64px;
  height: 24px;
  background-color: #b2cc29;
  color: #ffffff;
  font-size: 14px;
  font-family: mediumFont, serif;
  text-align: center;
  top: 32px;
}

.right-banner .newproduct {
  padding-top: 3px;
  width: 48px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  font-family: mediumFont, serif;
  text-align: center;
  top: 56px;
}

.right-banner .product-details {
  position: absolute;
  bottom: 0;
  left: 10%;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.2s linear 0s;
}

.right-banner .product:hover .product-img {
  opacity: 0.3;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.right-banner .product:hover .product-details {
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.right-banner .product button {
  padding: 12px 20px;
  display: block;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  color: #8a8a8a;
}

.right-banner .pagination .page-link {
  color: #bababa;
  background-color: #f6f6f6;
}

.right-banner .pagination .page-item.active .page-link {
  border-color: #252528;
}

.right-banner .pagination .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(93, 94, 95, 0.25);
}

/* footer-top-top */
#footer-top-top {
  padding-top: 55px;
  background-color: #f6f6f6;
}

#footer-top-top .col-md-2 {
  padding: 0;
}

#footer-top-top .service {
  display: flex;
}

#footer-top-top .service i {
  font-size: 40px;
  color: #838182;
}

#footer-top-top .title {
  padding-left: 20px;
  font-family: boldFont, serif;
  font-size: 14px;
  color: #353535;
}

#footer-top-top .text {
  padding-left: 20px;
  font-family: regularFont, serif;
  font-size: 12px;
  color: #353535;
}

#footer-top-top .borderline {
  padding-bottom: 55px;
  border-bottom: 2px solid #e0e0e0;
}

/* footer-top */
#footer-top {
  margin-bottom: 30px;
  padding: 72px 0;
  background-color: #f6f6f6;
}

#footer-top .col-md-7 {
  display: flex;
  justify-content: center;
}

#footer-top .second-col {
  padding-left: 60px;
}

#footer-top .third-col {
  padding-left: 20px;
}

#footer-top .right-col {
  text-align: right;
}

#footer-top img {
  height: 30px;
  width: 110px;
  margin-bottom: 28px;
}

#footer-top h6 {
  font-family: semiBoldFont, serif;
  font-size: 16px;
  color: #575757;
}

#footer-top .title {
  margin-bottom: 40px;
}

#footer-top .address {
  display: flex;
}

#footer-top .text {
  margin-bottom: 18px;
  margin-left: 20px;
}

#footer-top .fa-map-marker-alt {
  margin-top: 5px;
}

#footer-top ul {
  padding: 0;
}

#footer-top li {
  margin-bottom: 5px;
  list-style-type: none;
}

#footer-top a,
#footer-top p,
#footer-top .text {
  font-family: SSregularFont, serif;
  font-size: 14px;
  color: #868686;
}

#footer-top .subscribe-email {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 34px;
  padding-left: 20px;
  background-color: #ffffff;
  border-radius: 40px;
}

#footer-top input {
  margin: 12px 0px;
  width: 100%;
  border: none;
  outline: none;
  font-family: boldFont, serif;
  font-size: 10px;
  background-color: #ffffff;
}

#footer-top button {
  border: none;
  outline: none;
  background-color: #696969;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  font-family: boldFont, serif;
  color: #f6f6f6;
  font-size: 10px;
}

#footer-top i {
  padding-right: 5px;
  font-size: 8px;
  color: #868686;
}

/* footer-bottom */
#footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

#footer-bottom i {
  margin-left: 5px;
  font-size: 14px;
  color: #7a7a7a;
}

#footer-bottom p {
  font-family: lightFont, serif;
  font-size: 14px;
  color: #868686;
}

#footer-bottom span {
  font-family: semiBoldFont, serif;
  font-size: 14px;
  color: #000000;
}

/* mediaquery */

@media (min-width: 992px) {
  #header .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .collapse.collapse-lg {
    display: block;
    height: auto;
  }
}

@media (max-width: 991px) {
  #header .navigation {
    text-align: center;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navbar .logo {
    margin-left: 0;
  }

  #header .navigation {
    text-align: right;
    margin-right: 0;
    margin-top: 30px;
  }

  #header .navigation .navbar-nav a {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }

  #header .navbar-nav .icon-item img {
    margin-top: 16px;
    width: 36px;
  }

  .fa-angle-down {
    margin-top: 8px;
    margin-left: 8px;
  }

  #content {
    margin-bottom: 20px;
  }

  .hotsale {
    margin-top: 20px;
  }

  .hotsale h6 {
    font-size: 20px;
    color: #494949;
    font-family: boldFont, serif;
  }

  #footer-top .md-mb {
    margin-bottom: 30px;
  }

  #footer-top .second-col {
    padding-left: 20px;
  }

  #footer-top .right-col {
    text-align: left;
  }

  #footer-top .title {
    margin-bottom: 5px;
  }

  #footer-top li {
    margin-bottom: 15px;
  }

  #footer-top h6 {
    font-size: 20px;
  }

  #footer-top a {
    font-size: 18px;
  }

  #footer-top input {
    padding: 10px 0;
  }

  #footer-top .social-media i {
    padding-right: 30px;
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .right-banner .name,
  .right-banner .price {
    font-size: 24px;
  }

  .right-banner .product button {
    padding: 32px 48px;
  }

  .right-banner .product button i {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .right-banner .product-nav {
    flex-direction: column;
  }

  .right-banner .product-nav .right-nav {
    margin-top: 12px;
  }

  .right-banner .product button {
    padding: 12px 28px;
  }

  .right-banner .product button i {
    font-size: inherit;
  }

  #footer-bottom .credit-card {
    display: none;
  }

  #footer-top-top .service i {
    font-size: 24px;
  }

  #footer-top .social-media i {
    padding-right: 20px;
  }
}
