@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

section {
  margin: 100px 0;
}


p {
  color: #677294;
  line-height: 28px;
}

#header {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0px;
  left: 0px;
  /* background-image: -webkit-linear-gradient(-84deg, #1786d8 0%, #00aff0 100%); */
}

.nav {
  background-color: transparent;
  transition: 0.3s linear;
}

.nav.scrolled {
  background-color: white;
  transition: 0.5s linear;
}

#header .navbar {
  padding: 15px;
}

#header .navbar-collapse {
  max-height: 400px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 30px 60px;
  background: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.scrolled {
  color: #3f4451;
}

#header .navbar a:hover {
  text-decoration: underline;
}

#header .nav-item.sign {
  padding: 1px 10px;
  border: 1px solid #00aff0;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #fff;
  text-decoration: none;
}

#header .nav-item.sign:hover {
  box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
}

#header .nav-item.sign .nav-link {
  color: #00aff0;
}


/* slider */

.slider {
  margin-top: 0;
  background-image: -webkit-linear-gradient(40deg, #1786d8 0%, #00aff0 100%);
  background-size: cover;
  background-position: 50%;
}

.slider h1 {
  color: #fff;
  font-weight: 700;
  padding: 3rem 0;
  margin-top: 10rem;

}

.slider p {
  color: #fff;
  font-size: 1.15rem;
  padding: 1rem 0;
}

.slider_btn {
  display: inline-block;
  margin: 30px 0;
  padding: 15px 35px;
  color: #00aff0;
  background-color: #fff;
  border-radius: 45px;
  text-decoration: none;
}

.slider_btn:hover {
  color: #fff;
  background-color: #00aff0;
  text-decoration: none;
}

.slider .img_mobile {
  position: relative;
  top: -100px;
  left: 30px;
  max-width: 100%;
}

.slider .img_woman {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 250px;
  max-width: 50%;
  animation: jump 2.5s infinite;
}

@keyframes jump {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

/* feature */

.feature {
  padding: 0;
}

.feature .img_ground {
  position: relative;
}

.feature .img_floor {
  position: absolute;
  top: -60px;
  left: 10px;
  max-width: 90%;
}

.feature .img_message {
  position: absolute;
  top: 70px;
  left: 40px;
  max-width: 90%;
}

.f_content .icon {
  margin-left: -25px;
  height: 105px;
  width: 105px;
}

.f_content img {
  position: relative;
}

.f_content i {
  position: absolute;
  top: 28px;
  left: 33px;
  z-index: 2;
  font-size: 20px;
  color: #fff;
}

/* feature2 */

.feature2 .img_ground {
  position: relative;
}

.feature2 .img_mobile2 {
  position: absolute;
  top: 30px;
  left: 170px;
  max-width: 50%;
}

.feature2 .img_messages {
  position: absolute;
  top: 80px;
  left: 30px;
  max-width: 40%;
}

.f_content2 .icon {
  margin-left: -25px;
  height: 105px;
  width: 105px;
}

.f_content2 img {
  position: relative;
}

.f_content2 i {
  position: absolute;
  top: 28px;
  left: 32px;
  z-index: 2;
  font-size: 20px;
  color: #fff;
}

/* service */

.service {
  background-color: #f4f6fa;
  padding: 70px 0;
}

.service .service_item {
  position: relative;
  background-color: #fff;
  margin: 50px 0;
}

.service .icon {
  position: absolute;
  top: 15px;
  right: 20px;
  background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  height: 54px;
  width: 54px;
  border-radius: 50px;
}

.service h4 {
  padding: 20px 15px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 28px;
}

.service h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 35px;
  color: #3f4451;
}

.service p {
  padding: 0 15px;
  padding-bottom: 200px;
  margin-bottom: 1rem;
}

.service img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.service_item i {
  position: absolute;
  top: 17px;
  left: 17px;
  z-index: 2;
  font-size: 20px;
  color: #fff;
}

/* pricing */

.pricing {
  background-color: #fbfbfd;
}

.pricing h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 35px;
  color: #3f4451;
}

.pricing .nav {
  margin-top: 70px;
  border-radius: 45px;
  max-width: 400px;
  background-color: white;
  box-shadow: 0px 3px 13px 0px rgba(0, 11, 40, 0.08);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border: 0px;
  padding: 7px;
  justify-content: center;
  position: relative;
}

.pricing .nav-item {
  border-radius: 50px;
  padding: 12px 0;
  text-align: center;
}

.pricing .nav-item .nav-link.active {
  border: 0px;
  border-radius: 45px;
  background: transparent;
  background-color: #00aFF0;
  color: #fff;
}

.pricing .nav-link {
  margin: 0px;
  color: #677294;
  padding: 12px 30px;
  display: inline-block;
  border: 0px;
  border-radius: 45px;
  min-width: 193px;
  text-align: center;
  transition: color 0.3s linear;
  position: relative;
  z-index: 1;
}

.pricing .price_item {
  padding: 50px 50px 40px;
  text-align: center;
  box-shadow: 0px 4px 6px 0px rgba(0, 11, 40, 0.1);
}

.pricing h5 {
  margin-top: 30px;
  color: #3f4451;
  font-size: 1.25rem;
  font-weight: 600;
}

.pricing p {
  margin-bottom: 0;
  line-height: 22px;
  font-weight: 300;
}

.pricing .price {
  padding: 30px 0;
  border-bottom: 1px solid #e9e9f4;
  line-height: 40px;
  font-size: 1.75rem;
  font-weight: 900;
  color: #3f4451;
}

.pricing .per-month {
  color: #677294;
  font-weight: 300;
  bottom: 0;
}

.pricing li {
  color: #505975;
  line-height: 40px;
  font-weight: 300;
}

.pricing .price_btn {
  display: inline-block;
  margin: 20px;
  padding: 15px 40px;
  border: 1px solid #00aff0;
  border-radius: 45px;
  color: #00aff0;
  text-decoration: none;
}

.pricing .price_btn:hover {
  border: 1px solid #00aff0;
  color: #fff;
  background-color: #00aff0;
}

/* device */
.device {
  background-image: -webkit-linear-gradient(180deg, #1786d8 0%, #00aff0 100%);
  text-align: center;
}

.device h1 {
  margin-bottom: 15px;
  padding-top: 250px;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.device p {
  margin-bottom: 40px;
  color: #fff;
  font-weight: 300;
}

.device .action_btn {
  padding: 15px 40px;
  border: 1px solid #00aff0;
  border-radius: 45px;
  background-color: #fff;
  color: #00aff0;
  text-decoration: none;
}

.device .action_btn:hover {
  border: 1px solid #00aff0;
  color: #fff;
  background-color: #00aff0;
}

.device img {
  margin-top: 50px;
  max-width: 90%;
}

/* footer */
.footer_top img {
  max-width: 100%;
}

.footer_top p {
  margin: 20px 0;
  line-height: 28px;
}

.footer_top img {
  margin-bottom: 40px;
}

/* .footer_top h6 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1.25rem;
  color: #3f4451;
}

.footer_top ul a {
  display: inline-block;
  padding: 10px 0;
  line-height: 20px;
  color: #677294;
  text-decoration: none;
}

.footer_top .social_media {
  padding-left: 0;
}

.footer_top .social_media li {
  margin-right: 10px;
  display: inline-block;
  list-style-type: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  background: #ebeef5;
  text-align: center;
}

.footer_top .contact p {
  color: #051441;
  padding: 3px 8px;
}

.footer_top .contact a {
  text-decoration: none;
  color: #677294;
}

.footer_top .contact {
  border-bottom: 1px solid #e9e9f4;
  margin-bottom: 30px;
  padding-bottom: 30px;
} */

/* footer_bottom */
.footer_bottom {
  text-align: center;
}

.footer_bottom li {
  display: inline-block;
}

.footer_bottom .list-unstyled a {
  font-size: 0.75rem;
  color: #7f88a6;
}

.footer_bottom .list-unstyled a:hover {
  color: #00aff0;
}



/* Screen Sizes 992px and Up */
@media (min-width: 992px) {
  .slider .img_mobile {
    position: relative;
    top: -50px;
    left: -70px;
    max-width: 170%;
  }

  .slider .img_woman {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 150px;
    max-width: 80%;
  }

  #header .navbar-collapse {
    background: transparent;
  }
}